<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.bitbucket.gashmish.fem.editor.containing"
         point="org.eclipse.ui.editors">
      <editor
            class="org.bitbucket.gashmish.fem.editor.containing.ContainingControl"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="java"
            icon="icons/sample.gif"
            id="org.bitbucket.gashmish.fem.editor.containing.containingControl"
            name="Java with images">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.bitbucket.gashmish.fem.editor.containing.evaluateline"
            targetID="#CompilationUnitEditorContext">
         <action
               class="org.bitbucket.gashmish.fem.editor.handlers.EvaluateLineActionDelegate"
               id="org.bitbucket.gashmish.fem.editor.containing.evaluateline.action"
               label="Evaluate Line"
               menubarPath="additions"
               tooltip="Evaluate expression on line">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.bitbucket.gashmish.fem.editor.containing.insertimage"
            targetID="#CompilationUnitEditorContext">
         <action
               class="org.bitbucket.gashmish.fem.editor.handlers.InsertImageActionDelegate"
               id="org.bitbucket.gashmish.fem.editor.containing.insertimage.action"
               label="Insert image"
               menubarPath="additions"
               tooltip="Insert any image">
         </action>
      </viewerContribution>
   </extension>


</plugin>
