<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.bitbucket.gashmish.fem.editor.containing"
         point="org.eclipse.ui.editors">
      <editor
            class="org.bitbucket.gashmish.fem.editor.containing.ContainedEditorManager"
            default="false"
            id="org.bitbucket.gashmish.fem.editor.containing"
            name="Containing">
      </editor>
   </extension>


</plugin>
